.activityContainer{ 
    width: 100%;
}

.postInfo{
    display: flex;
    align-items: center;
}

.postInfo img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 10px;
}

.topContent{
    display: flex;    
}

.topContent strong{
    font-size:.9rem ;
    margin-left: 5px;
}

.topContent p{
    color: #484f57;
    margin-left: 5px;
    font-size: 13px;
}

.activityContent{
    margin-left: 40px;
    background-color: white;
    width: 94.6%;
    padding: 1rem;

    border-radius: 6px;
    border: 1px solid rgba(177, 172, 172, 0.308);
}

.activityContent >p{
    color: #57606a;
    font-size: 14px;
}

.topInfo{
    display: flex;
    justify-content: space-between;
}

.topInfo button{
    width: 4rem;
    height: 1.7rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    background-color: #f3f4f6;
    color: #575e66;
    border-radius: 5px;
    border: 1px solid #d6d8db;
}

.topInfo button:hover{
    background-color: #ececec;
    cursor: pointer;
}

.bottomInfo{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.langInfo{
    display: flex;
    margin-right: 10px;
}

.langInfo p{
    text-indent: 5px;
    font-size: 12px;
    color: #57606a;
}

.bottomInfo> p,
.bottomInfo a{
    font-size: 12px;
    color: #57606a;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.bottomInfo a:hover{
    color: blue;
    cursor: pointer;
}

.bottomInfo a>p{
    margin-left: 5px;
}

.circle{
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    background-color: rgb(235, 235, 0); 
}